body {
  background: #fafafa;
  font-family: 'Futura', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  margin: 0;
}

h1 {
  font-size: 18px;
  font-weight: normal;
  color: rebeccapurple;
  padding: 11px;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #dfdfd0;
}

.instructions {
  padding: 11px;
  margin: 11px;
  color: #777;
  margin: none;
  font-family: monospace;
  background: #f9f9e6;
  border: 1px solid #f0f0de;
}

.instructions kbd {
  background: #ff0;
  display: inline-block;
  padding: 3px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: block;
  padding: 14px;
  font-size: 16px;
  border-bottom: 1px solid #dfdfd0;
  color: #666;
}

.list-item--selected {
  background: tomato;
  color: gold;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0;
}

.footer {
  color: #777;
  padding: 11px;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background: white;
  border-radius: 4px;
  padding: 22px;
  border: 1px solid #aaa;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 0;
}

.modal__content h3 {
  text-align: center;
  font-weight: normal;
  color: #999;
  font-size: 18px;
}

.modal__content h2 {
  text-align: center;
  font-weight: bold;
  color: #555;
  font-size: 22px;
  color: rebeccapurple;
}

.modal__content-help {
  padding: 11px;
  margin: 11px;
  color: #777;
  margin: none;
  font-family: monospace;
  background: #f9f9e6;
  border: 1px solid #f0f0de;
}

.love {
  position: fixed;
  right: 11px;
  bottom: 11px;
  padding: 11px 22px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  opacity: 0.65;
  transform: scale(1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transform-origin: 95% 95%;
}

.love span {
  padding: 0 3px;
}

.love--loving {
  opacity: 1;
  transform: scale(1.8);
  transition-duration: 3s;
}
